html {
  font-family: 'Roboto', sans-serif;
  font-size: 62.5%;
}

body {
  margin: 0;
}

/*HEADER*/
.title-part {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #363636;
}

.logo {
  height: 99px;
  margin: 10px;
  padding: 5px;
  border-radius: 50%;
  background-color: #D34D58;
}

.title {
  color: #e5e5e5;
  font-size: 3rem;
}

.logo-title {
  display: flex;
  align-items: center;
}

.start-button {
  margin: 10px;
  padding: 10px;
  font-size: 1.6rem;
  text-decoration: none;
  background-color: #e5e5e5;
  color: #363636;
}

@media (max-width: 800px) {
  .title-part {
    flex-direction: column;
    align-items: center;
  }

  .logo-title {
    flex-direction: column;
  }
}

/*FOOTER*/
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  color: whitesmoke;
  font-size: 1.6rem;
  text-align: center;
}

.line {
  height: 0;
  width: 100px;
  border-top: solid 2px whitesmoke;
}

.refs {
  padding-top: 20px;
  margin-bottom: 30px;
  font-size: 1.4rem;
  color: whitesmoke;
  text-decoration: none;
  border-bottom: solid 1px whitesmoke;
}

/*Index main*/
.background {
  height: 100vh;
  display: flex;
  align-items: center;
  background-image: url(../medias/images/monkey.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.introduction {
  width: 60%;
  margin: auto;
  padding-bottom: 50px;
  background-color: rgba(229,229,229,0.7);
}

.subtitle {
  margin: 0;
  padding: 40px;
  font-size: 3.5rem;
  color: #676767;
  text-align: center;
}

.start {
  display: inline-block;
  text-decoration: none;
  background-color: #676767;
  color: whitesmoke;
  padding: 20px;
  margin: 10px;
  font-size: 1.6rem;
}

.line-sub {
  height: 0;
  width: 100px;
  margin: auto;
  border-top: solid 2px #676767;
}

@media (max-width: 500px) {
  .subtitle {
    padding: 20px;
    font-size: 2.5rem;
  }
}

/*Start main*/
.ribbon {
  height: 53vh;
  width: 100vw;
  background-image: url(../medias/images/monkey.jpg);
  background-position: center;
}


/*formulaire*/
.formu {
  display: flex;
  margin: 0 auto;
  width: 80%;
  flex-direction: column;
}

.orga {
  display: flex;
}

.heroes {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 0 2rem;
}

.specs {
  display: flex;
}

.perso {
  display: flex;
  flex-direction: column;
}

.spe {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 1rem;
}

.envoi {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
}

.heroes>p {
  font-size: 2.4rem;
}

.perso p {
  font-size: 1.8rem;
}

.formu select {
  padding: 0.3rem;
}




/*resultats

.turn {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  font-size: 1.8rem;
}

.action {
  display: flex;
}

.teams {
  display: flex;
  flex-grow: 1;
}

.action img {
  align-self: flex-end;
}

.heroesTab, .monstersTab {
  flex-grow: 1;
  padding: 2rem;
}

.teams table {
  border-collapse: collapse;

}
.teams table, td, th {
  width: 100%;
  border: solid 1px grey;
}
*/





/*Result main*/
button.start-button {
  display: block;
  margin: 0 0 10px auto;
  border: 1px solid #363636;
}

button.start-button:hover {
  cursor: pointer;
}

button.start-button.follow::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-bottom: 12px solid #363636;
  border-top-style: none;
  background: none;

}

button.start-button::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-top: 12px solid #363636;
  border-bottom-style: none;
  background: none;
}

.result {
  max-width: 90vw;
  margin: auto;
}

.fight {
  border: 1px solid #363636;
  color: #676767;
}

.fight p {
  font-size: 1.6rem;
}

.result-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #363636;
  background-color: #E4E4E4;
}

.rounds-title > h3 {
  font-size: 1.6rem;
  background-color: #363636;
  color: whitesmoke;
}

.result span,
h4 {
  font-weight: 900;
  color: #363636;
}

h4 {
  font-size: 1.6rem;
}

.result-header  p,
.result-header h3 {
  display: inline-block;
  margin: 0;
  padding: 10px;
}

.result-header h3 {
  width: 90px;
}

.arrow {
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 16px solid #363636;
  border-bottom-style: none;
  margin: 10px;
  padding: 0;
  background: none;
}

.arrow.follow {
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 16px solid #363636;
  border-top-style: none;
  margin: 10px;
  padding: 0;
  background: none;
}

.arrow:hover {
  cursor: pointer;
}

.rounds {
  display: flex;
  justify-content: space-evenly;
}

.team {
  width: 45%;
}

.state-table {
  width: 100%;
  border: 1px solid #E4E4E4;
  border-collapse: collapse;
  text-align: center;
  margin-bottom: 10px;
}

th, 
td {
  font-size: 1.6rem;
  border: 1px solid #E4E4E4;
}

td {
  color: #676767;
  font-weight: normal;
}
.main-row {
  width: 50%;
}

.winner {
  margin: 20px auto;
  text-align: center;
  border: 1px solid #e5e5e5;
  background-color: #F8F8F8;
}
.winner > .subtitle {
  padding: 10px;
}

.winner-announce {
  font-size: 2.5rem;
  color: #363636;
  padding-bottom: 10px;
}

.story {
  display: flex;
}

.story > p {
  width: 50%;
  padding: 20px;
  font-size: 1.6rem;
  color: #676767;
}

/*For the toggle div*/
.inactive {
  display: none;
}

.active {
  display: block;
}

/*.follow {
  transform: rotate(180deg);
}*/

@media (max-width:800px) {
  .rounds {
    flex-direction: column;
    align-items: center;
  }

  .team {
    width: 90%;
  }
}